# Dependencies
node_modules/
ps4_remote_pkg_installer/
# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/
.gradle-cache/

# Metro
.metro-health-check*

# Debugging
npm-debug.*
yarn-debug.*
yarn-error.*

.env
.env.local

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
